[*.cs]

# CS8618: Un campo que no acepta valores NULL debe contener un valor distinto de NULL al salir del constructor. Considere la posibilidad de declararlo como que admite un valor NULL.
dotnet_diagnostic.CS8618.severity = none

# CA1707: Los identificadores no deben contener caracteres de subrayado
dotnet_diagnostic.CA1707.severity = none

# CS8619: La nulabilidad de los tipos de referencia del valor no coincide con el tipo de destino
dotnet_diagnostic.CS8619.severity = none

# CA1305: Especificar IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# IDE0055: Fijar formato
dotnet_diagnostic.IDE0055.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none

# CS0219: Variable is assigned but its value is never used
dotnet_diagnostic.CS0219.severity = none

# IDE0011: Add braces
csharp_prefer_braces = false

# CS4014: Because this call is not awaited, execution of the current method continues before the call is completed
dotnet_diagnostic.CS4014.severity = none
